@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  position: relative;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --white: #fcfcfc;
  --green: #00b0a2;
  --dark-green: #006d64;
  --red: #ff8080;
  --black: #272727;
}
$font_primary: "Montserrat", sans-serif;

// ::selection {
//   background-color: var(--primary-color);
//   color: #fcfcfc;
// }
// ::-webkit-scrollbar {
//   width: 0.5vw;
//   background-color: var(--white);
// }
// ::-webkit-scrollbar-thumb {
//   background-color: var(--primary-color);
// }
